.carrito-container {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .carrito-item {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .carrito-item img {
    width: 80px;
    height: auto;
    border-radius: 5px;
  }
  
  .carrito-total {
    margin-top: 20px;
  }
  
  .clear-btn {
    padding: 10px 15px;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .clear-btn:hover {
    background-color: darkred;
  }
  