.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 60px 20px; 
  background-color: #f9f9f9;
}

.categorias-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 30px 20px 10px;
}

.categorias-bar {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.categoria-btn {
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.categoria-btn:hover {
  background-color: #555;
}

.carrito-icon {
  font-size: 1.4rem;
  cursor: pointer;
  background-color: #333;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
}

.carrito-icon span {
  margin-left: 5px;
  font-weight: bold;
}
